<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset your password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  style="display: flex; justify-content: center; align-items: center;">
  <ion-grid class="center-content">
    <ion-card class="ion-padding">
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-text class="ion-padding" style="font-weight: bold;">Trouble logging in?</ion-text><br><br>
          <small>
            Enter your email we'll send you a link <br/> to get back into your account.
        </small><br> <br>
        <form (ngSubmit)="forgetPassword(email)">
          <ion-item lines="full" >
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" [(ngModel)]="email" name="email" placeholder="Enter your mail" id="email" helperText="Enter a valid email" errorText="Invalid email" required></ion-input>
          </ion-item>
          <ion-row>
            <ion-col>
              <ion-button type="submit" color="primary" expand="block" >Send</ion-button>
              <span class="divider line one-line"><p>or</p></span>
              <ion-text style="font-weight: bold; cursor: pointer;"  routerLink="">Create new account</ion-text>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-card>
  </ion-grid>
</ion-content>  